@charset "UTF-8";

.detail_info {
  font-size: 12px;
  color: rgb(117, 117, 117);
  opacity: 0.8;
}

.detail_info hr {
  margin: 10px 0px;
}

/* 다양한 쇼핑방법 part */

.miniJust_info a {
  color: var(--a-color);
}

.miniJust_info a:hover {
  border-bottom: 1px solid var(--a-color);
}

/* detail_info_rull part */
.detail_info_rull_Contailner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.detail_info_rull_Contailner_separated {
  display: flex;
}

.detail_rull_open_div {
  margin-right: 30px;
}

.detail_rull_terms_div .detail_rull_terms a:hover {
  border-bottom: 1px solid rgb(117, 117, 117);
}

.detail_country_name a:hover {
  border-bottom: 1px solid rgb(117, 117, 117);
}

.detail_rull_number {
  font-size: 11px;
  opacity: 0.7;
}
